@charset "utf-8";
body {
    margin: 0;
    padding: 0;
    color: #f0f0f0;
    background-color: #000;
}


/* オープニング */


/* .anime {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#opening_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrap {
    overflow: hidden;
} */

header {
    background-color: brown;
    color: black;
    height: 50px;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    line-height: 50px;
}

.navbar {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

.navbar li a {
    display: block;
    text-decoration: none;
    padding: 10px 15px;
    color: azure;
}

.navbar li a:hover {
    background-color: azure;
    color: black;
}

.main_pic {
    width: 1351px;
    text-align: right;
}


/*プロフィール*/

.profile {
    width: 700px;
    margin: 500px auto;
}

.profile:hover .features:nth-child(even) {
    flex-direction: row;
}

.profile:hover .features:nth-child(odd) {
    flex-direction: row-reverse;
}

.features {
    display: flex;
    height: 220px;
}

.features:nth-child(even) {
    flex-direction: row-reverse;
    background-color: #000;
}

.pro_pic {
    width: 350px;
    height: 220px;
}

.imgg {
    width: 350px;
    height: 220px;
    object-fit: cover;
}

.info {
    margin: auto;
    padding: 30px;
}

a {
    color: red;
}


/*趣味*/

.hobby {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 400px;
}

.hobby_box {
    margin: 2rem;
    padding: 2rem;
    width: 300px;
    background-color: #f0f0f0;
    color: black;
}

.hobby_box:hover {
    transform: scale(1.2, 1.2);
}

.yout {
    height: 300px;
    background-color: black;
}

.hobby_box h2 {
    margin-bottom: 2rem;
    font-size: 2.2rem;
    text-align: center;
}

.imgg2 {
    object-fit: cover;
}

.nav_top {
    text-align: center;
    margin-top: 100px;
}


/* チャチャ */

.chacha {
    width: 700px;
    margin: 0;
    padding-left: 350px;
}

.chacha>h1 {
    text-align: center;
    margin-bottom: 40px;
}

img {
    vertical-align: bottom;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.chamain {
    width: 600px;
    height: 500px;
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
}

#main_cha {
    justify-content: space-between;
    /* padding: 0 auto; */
    width: 40%;
    height: auto;
}

.chacha>nav ul {
    display: flex;
    padding: 0 50px;
    justify-content: space-between;
}

.chacha>nav li {
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 20px;
    padding: 4px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.chacha>nav li:hover {
    background: #f8f8f8;
    color: #000;
}

#play {
    width: 140px;
}

#prev,
#next {
    width: 60px;
}

.thumbnails {
    height: 0;
    opacity: 0;
}

.thumbnails img {
    width: 10px;
}

footer {
    text-align: center;
    margin-top: 100px;
    padding: 10px;
    background-color: #808080;
}